---
layout: default
redirect_from:
- /2013/09/04/
- /2014/
- /2014/08/22/
- /2013/09/04/my-name-is-gareth/
- /2013/11/25/
- /2013/12/
- /author/garoevans/
- /category/proxy/
- /category/software-craftsmanship/
---

<div class="posts home">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
    <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='15034490'></div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page/{{paginator.next_page}}/">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page/{{paginator.previous_page}}/">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
