---
layout: default
---
<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row">
				<div class="2u -2u">
					<a href="/blog/category/{{ page.category }}/">{{ page.category | capitalize }}</a>
				</div>
				<div id="content" class="6u">
					<article>
						{% if page.featured %}
						<a href="{{ site.prefix }}{{ page.url }}" class="image full"><img src="/assets/{{ page.featured }}" alt=""></a>
						{% endif %}
						<header>
							<h2>{{ page.title }}</h2>
						</header>
						<div id="post">
							{{ page.content }}
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
